<div id="map"></div>

<script>
  let map; // グローバルに定義

  function SearchMarker() {
    // 地図要素を取得
    const mapElement = document.getElementById('map');

    // 現在地を取得
    // ブラウザに位置情報の取得を依頼する関数です。成功すると、現在地の情報が position オブジェクトとして渡されます。
    navigator.geolocation.getCurrentPosition(function (position) {
      // 「LatLng: 地理座標（緯度と経度）」で表される地点の枠を作り「userLatLng」に入れる
      const userLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

      map = new google.maps.Map(mapElement, {
        center: userLatLng,
        zoom: 15
      });

      // 現在地のマーカーを入れる
      new google.maps.Marker({
        map: map,
        position: userLatLng,
        icon: {
          url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        }
      });

      // 投稿されているマーカーを追加
      <% @spots.each do |spot| %>
        const marker = new google.maps.Marker({
          position: {lat: <%= spot.latitude %>, lng: <%= spot.longitude %>}, 
          map: map,
          // j は Rails の escape_javascript ヘルパーの省略記法。JavaScript に埋め込む文字列を安全に変換（エスケープ）するために使用
          title: '<%= j spot.name %>'
        });

        // 吹き出しの追加
        const infoWindow = new google.maps.InfoWindow({
          content: `<%= j spot.name %><br>
                    <%= j spot.summary %><br>`
        });

        // マーカーにクリックイベントを追加
        marker.addListener('click', function() {
          infoWindow.open(map, marker);
        });
      <% end %>

    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=SearchMarker" async defer></script>

<style>
  #map {
    position: absolute;
    top: 64px;
    bottom: 80px;
    width: 100%;
  }
</style>
